<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <br>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>

    <br>
    <br>
    <%= f.label :amount %>
    <%= f.number_field :funds %>

    <br>
    <br>
    <%= f.submit %>
  <% end %>

  
